body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u3 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:295px;
  top:21px;
  width:165px;
  height:46px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:46px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:19px;
  top:17px;
  width:50px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:152px;
  top:332px;
  width:446px;
  height:468px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:468px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:33px;
  top:0px;
  width:378px;
  height:378px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:378px;
}
#u10 {
  position:absolute;
  left:2px;
  top:181px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:13px;
  top:426px;
  width:421px;
  height:34px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:34px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:3px;
  top:60px;
  width:440px;
  height:260px;
  overflow:hidden;
}
#u13_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:260px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:-8px;
  top:0px;
  width:446px;
  height:26px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:26px;
}
#u15 {
  position:absolute;
  left:2px;
  top:5px;
  width:442px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:152px;
  top:332px;
  width:446px;
  height:468px;
  overflow:hidden;
}
#u16_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:468px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:89px;
  top:57px;
  width:268px;
  height:268px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:268px;
}
#u18 {
  position:absolute;
  left:2px;
  top:126px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:148px;
  top:335px;
  width:151px;
  height:34px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:34px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
