body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u3 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:292px;
  top:20px;
  width:165px;
  height:46px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:46px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:19px;
  top:17px;
  width:50px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:125px;
  width:710px;
  height:235px;
}
#u8_img {
  position:absolute;
  left:-8px;
  top:-3px;
  width:726px;
  height:251px;
}
#u8_img.mouseDown {
}
#u8.mouseDown {
}
#u9 {
  position:absolute;
  left:2px;
  top:110px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:112px;
  top:229px;
  width:57px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#888888;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:65px;
  top:158px;
  width:161px;
  height:46px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#222222;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:46px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:552px;
  top:174px;
  width:140px;
  height:140px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u15 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:595px;
  top:209px;
  width:61px;
  height:46px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#1BB2E9;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:46px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:594px;
  top:253px;
  width:61px;
  height:23px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:65px;
  top:226px;
  width:37px;
  height:37px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:309px;
  top:224px;
  width:40px;
  height:40px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:361px;
  top:230px;
  width:85px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#888888;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:65px;
  top:276px;
  width:37px;
  height:37px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:311px;
  top:276px;
  width:37px;
  height:37px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:112px;
  top:279px;
  width:141px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#888888;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:359px;
  top:281px;
  width:141px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#888888;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:19px;
  top:383px;
  width:710px;
  height:235px;
}
#u34_img {
  position:absolute;
  left:-8px;
  top:-3px;
  width:726px;
  height:251px;
}
#u34_img.mouseDown {
}
#u34.mouseDown {
}
#u35 {
  position:absolute;
  left:2px;
  top:110px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:111px;
  top:487px;
  width:85px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#888888;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:64px;
  top:416px;
  width:161px;
  height:46px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#222222;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:46px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:551px;
  top:432px;
  width:140px;
  height:140px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u41 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:594px;
  top:467px;
  width:61px;
  height:46px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#1BB2E9;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:46px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:593px;
  top:511px;
  width:61px;
  height:23px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:64px;
  top:484px;
  width:37px;
  height:37px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u47 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:308px;
  top:482px;
  width:40px;
  height:40px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u49 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:360px;
  top:488px;
  width:85px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#888888;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:64px;
  top:534px;
  width:37px;
  height:37px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u53 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:310px;
  top:534px;
  width:37px;
  height:37px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u55 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:111px;
  top:537px;
  width:141px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#888888;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:358px;
  top:539px;
  width:141px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#888888;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:680px;
  top:16px;
  width:50px;
  height:50px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u61 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:0px;
  top:88px;
  width:750px;
  height:100px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:100px;
}
#u63 {
  position:absolute;
  left:2px;
  top:42px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:90px;
  top:100px;
  width:640px;
  height:75px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:75px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u65 {
  position:absolute;
  left:26px;
  top:113px;
  width:50px;
  height:50px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u66 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:187px;
  width:750px;
  height:1147px;
  opacity:0.400000005960464;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1147px;
}
#u68 {
  position:absolute;
  left:2px;
  top:566px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:830px;
  width:750px;
  height:504px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:504px;
}
#u70 {
  position:absolute;
  left:2px;
  top:244px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
