body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-2px;
  width:750px;
  height:1334px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u3 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:292px;
  top:20px;
  width:161px;
  height:46px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:46px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:19px;
  top:17px;
  width:50px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:88px;
  width:750px;
  height:350px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:350px;
}
#u9 {
  position:absolute;
  left:20px;
  top:167px;
  width:728px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:156px;
  top:378px;
  width:141px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:121px;
  top:113px;
  width:221px;
  height:46px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#222222;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:46px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:37px;
  top:341px;
  width:97px;
  height:27px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#888888;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:27px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:133px;
  top:337px;
  width:57px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:178px;
  top:338px;
  width:211px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:32px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:526px;
  top:336px;
  width:113px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:523px;
  top:378px;
  width:155px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:458px;
  top:338px;
  width:73px;
  height:27px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#888888;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:456px;
  top:380px;
  width:73px;
  height:27px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#888888;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:0px;
  top:557px;
  width:750px;
  height:675px;
  overflow:hidden;
}
#u28_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:675px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:410px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:410px;
}
#u30 {
  position:absolute;
  left:2px;
  top:197px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:20px;
  top:154px;
  width:710px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:693px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:710px;
  height:1px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:80px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:80px;
}
#u32_img.mouseDown {
}
#u32.mouseDown {
}
#u33 {
  position:absolute;
  left:2px;
  top:32px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:28px;
  top:23px;
  width:113px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:271px;
  top:23px;
  width:57px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:368px;
  top:23px;
  width:169px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:27px;
  top:100px;
  width:141px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#222222;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:272px;
  top:100px;
  width:15px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#222222;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:32px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:556px;
  top:23px;
  width:169px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:371px;
  top:100px;
  width:85px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#222222;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:556px;
  top:100px;
  width:99px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#222222;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:20px;
  top:234px;
  width:710px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:693px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:710px;
  height:1px;
}
#u51 {
  position:absolute;
  left:27px;
  top:180px;
  width:113px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#222222;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:272px;
  top:180px;
  width:15px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#222222;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:32px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:371px;
  top:180px;
  width:85px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#222222;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:556px;
  top:180px;
  width:85px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#222222;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:20px;
  top:319px;
  width:710px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:693px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:710px;
  height:1px;
}
#u60 {
  position:absolute;
  left:27px;
  top:265px;
  width:85px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#222222;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:272px;
  top:265px;
  width:15px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#222222;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:32px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:371px;
  top:265px;
  width:71px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#222222;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:556px;
  top:265px;
  width:71px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#222222;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:27px;
  top:350px;
  width:85px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#222222;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:272px;
  top:350px;
  width:15px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#222222;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:32px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:371px;
  top:350px;
  width:71px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#222222;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:556px;
  top:350px;
  width:85px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#222222;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:37px;
  top:106px;
  width:70px;
  height:60px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u77 {
  position:absolute;
  left:2px;
  top:22px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:45px;
  top:124px;
  width:41px;
  height:23px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:37px;
  top:179px;
  width:687px;
  height:132px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
  line-height:44px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:132px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:37px;
  top:381px;
  width:121px;
  height:27px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#888888;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:0px;
  top:460px;
  width:750px;
  height:100px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:100px;
}
#u85 {
  position:absolute;
  left:2px;
  top:42px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:29px;
  top:494px;
  width:169px;
  height:32px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#555555;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:574px;
  top:487px;
  width:141px;
  height:46px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#222222;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:46px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:0px;
  top:1234px;
  width:750px;
  height:98px;
}
#u90_img {
  position:absolute;
  left:-5px;
  top:-10px;
  width:760px;
  height:108px;
}
#u91 {
  position:absolute;
  left:2px;
  top:41px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:20px;
  top:1244px;
  width:345px;
  height:78px;
  font-size:32px;
  color:#FFFFFF;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:78px;
}
#u92_img.mouseDown {
}
#u92.mouseDown {
}
#u93 {
  position:absolute;
  left:2px;
  top:20px;
  width:341px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:383px;
  top:1244px;
  width:345px;
  height:78px;
  font-size:32px;
  color:#FFFFFF;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:78px;
}
#u94_img.mouseDown {
}
#u94.mouseDown {
}
#u95 {
  position:absolute;
  left:2px;
  top:20px;
  width:341px;
  word-wrap:break-word;
}
