body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:68px;
  top:460px;
  width:614px;
  height:94px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:94px;
}
#u3 {
  position:absolute;
  left:2px;
  top:39px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:68px;
  top:564px;
  width:614px;
  height:94px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:94px;
}
#u5 {
  position:absolute;
  left:2px;
  top:39px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:168px;
  top:470px;
  width:478px;
  height:74px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:74px;
  background-color:transparent;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7 {
  position:absolute;
  left:172px;
  top:574px;
  width:478px;
  height:74px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:74px;
  background-color:transparent;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8 {
  position:absolute;
  left:75px;
  top:734px;
  width:600px;
  height:84px;
  font-size:32px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:84px;
}
#u8_img.mouseDown {
}
#u8.mouseDown {
}
#u9 {
  position:absolute;
  left:2px;
  top:24px;
  width:596px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:236px;
  top:101px;
  width:273px;
  height:253px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:253px;
}
#u11 {
  position:absolute;
  left:2px;
  top:118px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
